<a href="https://colab.research.google.com/github/kavya-prabahar/MainFlow/blob/main/Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Performing basic operations in a list**

In [1]:
list_1 = []

#adding more than one element to the list

list_1.extend([1,2,3,4,5])
print(list_1)

[1, 2, 3, 4, 5]

In [2]:
#adding a single element to the list

list_1.append(6)
print("After adding the element 6 to the list: ",list_1)

#adding an element at a specific index

list_1.insert(3,11)
print("After adding the element 11 at index 3: ",list_1)

#concatenating a new list with the existing list

new_list = [7,8,9]
list_1 = list_1 + new_list
print("After concatenating the new list with the existing list: ",list_1)

After adding the element 6 to the list:  [1, 2, 3, 4, 5, 6]
After adding the element 11 at index 3:  [1, 2, 3, 11, 4, 5, 6]
After concatenating the new list with the existing list:  [1, 2, 3, 11, 4, 5, 6, 7, 8, 9]

In [3]:
#removing a specific element from the list

list_1.remove(6)
print("After removing the element 6 from the list: ",list_1)

#removing an element at a particular index

popped_element = list_1.pop(4)

print("Popped element: ",popped_element)
print("After removing the element at the index 4: ",list_1)

#removing the element using del operator

del list_1[2]
print("After removing the element at the index 2: ",list_1)

After removing the element 6 from the list:  [1, 2, 3, 11, 4, 5, 7, 8, 9]
Popped element:  4
After removing the element at the index 4:  [1, 2, 3, 11, 5, 7, 8, 9]
After removing the element at the index 2:  [1, 2, 11, 5, 7, 8, 9]

In [4]:
#modifying the element at a particular index

list_1[4] = 12
print("After modifying the element at the index 4: ",list_1)

After modifying the element at the index 4:  [1, 2, 11, 5, 12, 8, 9]

In [5]:
#modifying the elements from index 1 to index 4

list_1[1:5] = [20,21,22,23]
print("After modifying the elements from index 1 to index 4: ",list_1)

After modifying the elements from index 1 to index 4:  [1, 20, 21, 22, 23, 8, 9]

**Performing basic operations in a dictionary**

In [6]:
dictionary = {}

#adding key-value pairs to a dictionary

dictionary["Name"] = "John"
dictionary["Age"] = 25
dictionary["Gender"] = "Male"

print(dictionary)

{'Name': 'John', 'Age': 25, 'Gender': 'Male'}

In [7]:
#adding more items to the dictionary

dictionary.update({"Country" : "USA","City" : "New York"})

print(dictionary)

{'Name': 'John', 'Age': 25, 'Gender': 'Male', 'Country': 'USA', 'City': 'New York'}

In [8]:
#removing an item for the dictionary using pop()

dictionary.pop("Gender")
print(dictionary)

{'Name': 'John', 'Age': 25, 'Country': 'USA', 'City': 'New York'}

In [9]:
#removing an item from the dictionary using del()

del dictionary["Age"]
print(dictionary)

{'Name': 'John', 'Country': 'USA', 'City': 'New York'}

In [10]:
#modifying the items in the dictionary

dictionary["Name"] = "Jane"
print(dictionary)

{'Name': 'Jane', 'Country': 'USA', 'City': 'New York'}

In [12]:
#modifying the items using update()

dictionary.update({"Country" : "Australia","City":"Syndey"})
print(dictionary)

{'Name': 'Jane', 'Country': 'Australia', 'City': 'Syndey'}

**Performing basic operations in a Set**

In [18]:
set1 = set()

#adding elements to a set

set1.add(1)
set1.add(2)
set1.add(3)
set1.add(4)
set1.add(5)
print(set1)

{1, 2, 3, 4, 5}

In [20]:
#removing elements from a set

set1.discard(4)
print(set1)

{1, 2, 3, 5}

In [22]:
#removing the first element from the set

set1.pop()
print(set1)

{2, 3, 5}

In [23]:
#removing a specific element in a set

set1.remove(5)
print(set1)

{2, 3}

In [24]:
#adding mutliple elements to a set

set1.update([4,5,6,7,8])
print(set1)

{2, 3, 4, 5, 6, 7, 8}

In [26]:
#Since set is a unordered collection of data, the data cannot be modified directly.
#Instead a particular element can be discarded and the new element can be added.

set1.discard(8)
set1.add(11)
print(set1)

{2, 3, 4, 5, 6, 7, 11}

In [29]:
#set can be modified by operations like union, intersection, difference and symmetric difference

#union

set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8}

union = set_1.union(set_2)
print("Union of 2 sets: ",union)

Union of 2 sets:  {1, 2, 3, 4, 5, 6, 7, 8}

In [30]:
#intersection

set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8}

intersection = set_1.intersection(set_2)
print("Intersection of 2 sets: ",intersection)

Intersection of 2 sets:  {4, 5}

In [31]:
#difference

set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8}

difference = set_1.difference(set_2)
print("Difference of 2 sets: ",difference)

Difference of 2 sets:  {1, 2, 3}

In [32]:
#symmetric difference

set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8}

symmetric_difference = set_1.symmetric_difference(set_2)
print("Symmetric difference of 2 sets: ",symmetric_difference)

Symmetric difference of 2 sets:  {1, 2, 3, 6, 7, 8}